@model DOSBPM.Models.VarianceQuestions

@{
    ViewBag.Title = "Variance Questions";
}

<h2>Variance Questions</h2>

@Html.ActionLink("Previous", "Index", "OccupancyHeightsandAreas", null, new { @class = "NextBtn" })
@Html.ActionLink("Next", "Index", "SiteandUtilities", null, new { @class = "NextBtn" })
