@model DOSBPM.Models.VarianceQuestions

@{
    ViewBag.Title = "Variance Questions";
}

<h2>Variance Questions</h2>

 
 <div class="container">
    <div class="row">
		<div class="col-md-3">
		    
		</div>
		<div class="col-md-1">
		    Yes
		</div>
		<div class="col-md-1">
		    NO
		</div>
		<div class="col-md-1">
		    UnKnown
		</div>
		<div class="col-md-3">
		     
		</div>	
		<div class="col-md-3">
		     
		</div>
	</div>
	<div class="row"><br></div>
	<div class="row">
		<div class="col-md-3">
		   <label> Is Uniform Code or Energy Code variance required?*</label>
		</div>
		<div class="col-md-1">
		    <input type="radio" />
		</div>
		<div class="col-md-1">
		    <input type="radio" />
		</div>
		<div class="col-md-1">
		    <input type="radio" />
		</div>
		<div class="col-md-3">
		     
		</div>
		<div class="col-md-3">
		     
		</div>
	</div>
	<div class="row"><br></div>
	<div class="row">
		<div class="col-md-3">
		 <label> Has the Variance been applied for?*</label>
		</div>
		<div class="col-md-1">
		    <input type="radio" />
		</div>
		<div class="col-md-1">
		    <input type="radio" />
		</div>
		<div class="col-md-1">
		    <input type="radio" />
		</div>
		<div class="col-md-3">
		     <input type="text" class="form-control" />
		</div>
		<div class="col-md-3">
		     Please enter the reason
		</div>
	</div>	
	<div class="row"><br></div>
	
		<div class="row">
		<div class="col-md-3">
		 <label>Is there a petition number available?*</label> 
		</div>
		<div class="col-md-1">
		    <input type="radio" class="form-check-input"  />
		</div>
		<div class="col-md-1">
		    <input type="radio" class="form-check-input" />
		</div>
		<div class="col-md-1">
		    <input type="radio" class="form-check-input"  />
		</div>
		<div class="col-md-3">
		     <input type="text" class="form-control" />
		</div>
		<div class="col-md-3">
		     Please enter the reason
		</div>
	</div>	
	<div class="row"><br></div>
		<div class="row">
		<div class="col-md-3">
		  <label>Was the variance application approved?*</label>
		</div>
		<div class="col-md-1">
		    <input type="radio" />
		</div>
		<div class="col-md-1">
		    <input type="radio" />
		</div>
		<div class="col-md-1">
		    <input type="radio" />
		</div>
		<div class="col-md-3">
		     <input type="checkbox" />
		     Triggers determination prior to submission
		</div>
		<div class="col-md-3">
		     Upload
		</div>
	</div>	
	<div class="row"><br></div>
	<div class="row">
		<div class="col-md-3">
		 <label> Are there any previous variances on this property?*</label>
		</div>
		<div class="col-md-1">
		    <input type="radio" />
		</div>
		<div class="col-md-1">
		    <input type="radio" />
		</div>
		<div class="col-md-1">
		    <input type="radio" />
		</div>
		<div class="col-md-3">
		     <input type="checkbox" />
		      Triggers determination prior to submission
		</div>
		<div class="col-md-3">
		    Upload
		</div>
	</div>
	<div class="row"><br></div>
	<div class="row" style="height:50px;"><br></div>
		<div class="row">
		<div class="col-md-3">
		   
		</div>
		<div class="col-md-1">
		     
		</div>
		<div class="col-md-1">
		     
		</div>
		<div class="col-md-1">
		    
		</div>
		<div class="col-md-3">
		    
		       
		</div>
		<div class="col-md-3"> Comments(Applicant)
            <input type="text" multiline="true" style="height:50px" class="form-control" />
		</div>
	</div>	
	<div class="row"><br></div><div class="row">
		<div class="col-md-3">
		   
		</div>
		<div class="col-md-1">
		     
		</div>
		<div class="col-md-1">
		     
		</div>
		<div class="col-md-1">
		    
		</div>
		<div class="col-md-3">
		    
		       
		</div>
		<div class="col-md-3">
		    Comments(Reviewer)
            <input type="text" multiline="true" style="height:50px" class="form-control" />
		</div>
	</div>	
	
</div>
@Html.ActionLink("Previous", "Index", "OccupancyHeightsandAreas", null, new { @class = "NextBtn" })
@Html.ActionLink("Next", "Index", "SiteandUtilities", null, new { @class = "NextBtn" })
