@model DOSBPM.Models.ProjectDescription

@{
    ViewBag.Title = "ProjectDescription";
}

<h2>Index</h2>

@Html.ActionLink("Previous", "Index", "CodeComplianceChecklistPartI", null, new { @class = "NextBtn" })
@Html.ActionLink("Next", "Index", "OccupancyHeightsandAreas", null, new { @class = "NextBtn" })

