@model DOSBPM.Models.ProjectDescription

@{
    ViewBag.Title = "Project Description";
}

<h2>Project Description</h2>

@Html.ActionLink("Previous", "Index", "CodeComplianceChecklistPartI", null, new { @class = "NextBtn" })
@Html.ActionLink("Next", "Index", "OccupancyHeightsandAreas", null, new { @class = "NextBtn" })

