@model DOSBPM.Models.ElevatorsandConveyingSystems

@{
    ViewBag.Title = "ElevatorsandConveyingSystems";
}

<h2>Index</h2>

@Html.ActionLink("Previous", "Index", "FuelGasRequirements", null, new { @class = "NextBtn" })
@Html.ActionLink("Next", "Index", "SafeguardsDuringConstruction", null, new { @class = "NextBtn" })