@model DOSBPM.Models.ElevatorsandConveyingSystems

@{
    ViewBag.Title = "Elevators and Conveying Systems";
}

<h2>Elevators and Conveying Systems</h2>

@Html.ActionLink("Previous", "Index", "FuelGasRequirements", null, new { @class = "NextBtn" })
@Html.ActionLink("Next", "Index", "SafeguardsDuringConstruction", null, new { @class = "NextBtn" })