@model DOSBPM.Models.MeansofEgress

@{
    ViewBag.Title = "MeansofEgress";
}

<h2>Index</h2>

@Html.ActionLink("Previous", "Index", "FireProtectionSystems", null, new { @class = "NextBtn" })
@Html.ActionLink("Next", "Index", "Accessibility", null, new { @class = "NextBtn" })