@model DOSBPM.Models.MechanicalRequirements

@{
    ViewBag.Title = "MechanicalRequirements";
}

<h2>Index</h2>


@Html.ActionLink("Previous", "Index", "ElectricalRequirements", null, new { @class = "NextBtn" })
@Html.ActionLink("Next", "Index", "PlumbingRequirements", null, new { @class = "NextBtn" })