@model DOSBPM.Models.InteriorEnvironmentandExteriorWallsandRooftopStructures

@{
    ViewBag.Title = "Interior Environment and Exterior Walls and Rooftop Structures";
}

<h2>Interior Environment and Exterior Walls and Rooftop Structures</h2>

@Html.ActionLink("Previous", "Index", "Accessibility", null, new { @class = "NextBtn" })
@Html.ActionLink("Next", "Index", "EnergyRequirements", null, new { @class = "NextBtn" })