@model DOSBPM.Models.ConstructionMaterials

@{
    ViewBag.Title = "Construction Materials";
}

<h2>Construction Materials</h2>

@Html.ActionLink("Previous", "Index", "SoilsandFoundations", null, new { @class = "NextBtn" })
@Html.ActionLink("Next", "Index", "ElectricalRequirements", null, new { @class = "NextBtn" })