@model DOSBPM.Models.AdditionalInfo

@{
    ViewBag.Title = "Additional Info";
}

<h2>Additional Info</h2>


@Html.ActionLink("Previous", "Index", "BuildingInfo", null, new { @class = "NextBtn" })
@Html.ActionLink("Next", "Index", "CodeComplianceChecklistPartI", null, new { @class = "NextBtn" })

