@model DOSBPM.Models.FireProtectionSystems

@{
    ViewBag.Title = "Fire Protection Systems";
}

<h2>Fire Protection Systems</h2>

@Html.ActionLink("Previous", "Index", "InteriorFinishes", null, new { @class = "NextBtn" })
@Html.ActionLink("Next", "Index", "MeansofEgress", null, new { @class = "NextBtn" })