@model DOSBPM.Models.Accessibility

@{
    ViewBag.Title = "Accessibility";
}

<h2>Accessibility</h2>

@Html.ActionLink("Previous", "Index", "MeansofEgress", null, new { @class = "NextBtn" })
@Html.ActionLink("Next", "Index", "InteriorEnvironmentandExteriorWallsandRooftopStructures", null, new { @class = "NextBtn" })