@model DOSBPM.Models.AdditionalStakeholderQuestions

@{
    ViewBag.Title = "Additional Stakeholder Questions";
}

<h2>Additional Stakeholder Questions</h2>


@Html.ActionLink("Previous", "Index", "AdditionalStakeholderContacts", null, new { @class = "NextBtn" })
@Html.ActionLink("Next", "Index", "BuildingInfo", null, new { @class = "NextBtn" })