@model DOSBPM.Models.AdditionalStakeholderContacts

@{
    ViewBag.Title = "AdditionalStakeholderContacts";
}

<h2>AdditionalStakeholderContacts</h2>


@Html.ActionLink("Previous", "Index", "AdditionalStakeholderInfo", null, new { @class = "NextBtn" })
@Html.ActionLink("Next", "Index", "AdditionalStakeholderQuestions", null, new { @class = "NextBtn" })
