@model DOSBPM.Models.AdditionalStakeholderContacts

@{
    ViewBag.Title = "Additional Stakeholder Contacts";
}

<h2>Additional Stakeholder Contacts</h2>


@Html.ActionLink("Previous", "Index", "AdditionalStakeholderInfo", null, new { @class = "NextBtn" })
@Html.ActionLink("Next", "Index", "AdditionalStakeholderQuestions", null, new { @class = "NextBtn" })
