@model DOSBPM.Models.PropertyOwnerContact

@{
    ViewBag.Title = "Property Owner Contact";
}

<h2>Property Owner Contact</h2>

@Html.ActionLink("Previous", "Index", "PropertyOwnerInfo", null, new { @class = "NextBtn" })
@Html.ActionLink("Next", "Index", "AdditionalStakeholderInfo", null, new { @class = "NextBtn" })
