@model DOSBPM.Models.PropertyOwnerContact

@{
    ViewBag.Title = "PropertyOwnerContact";
}

<h2>Index</h2>

@Html.ActionLink("Previous", "Index", "PropertyOwnerInfo", null, new { @class = "NextBtn" })
@Html.ActionLink("Next", "Index", "AdditionalStakeholderInfo", null, new { @class = "NextBtn" })
