@model DOSBPM.Models.ElectricalRequirements

@{
    ViewBag.Title = "ElectricalRequirements";
}

<h2>Index</h2>

@Html.ActionLink("Previous", "Index", "ConstructionMaterials", null, new { @class = "NextBtn" })
@Html.ActionLink("Next", "Index", "MechanicalRequirements", null, new { @class = "NextBtn" })