@model DOSBPM.Models.PropertyOwnerInfo

@{
    ViewBag.Title = "Property Owner Info";
}

<h2>Property Owner Info</h2>

@Html.ActionLink("Previous", "Index", "StakeholderContactInfo", null, new { @class = "NextBtn" })
@Html.ActionLink("Next", "Index", "PropertyOwnerContact", null, new { @class = "NextBtn" })

