@model DOSBPM.Models.CodeComplianceChecklistPartI

@{
    ViewBag.Title = "CodeCompliance Checklist PartI";
}

<h2>CodeCompliance Checklist PartI</h2>

@Html.ActionLink("Previous", "Index", "AdditionalInfo", null, new { @class = "NextBtn" })
@Html.ActionLink("Next", "Index", "ProjectDescription", null, new { @class = "NextBtn" })

