body {
}

a.classname {
    background-color: #007681; /* Green */
    border: none;
    color: white;
    padding: 1px 1px;
    text-align: left;
    text-decoration: none;
    display: normal;
    font-size: 13px;
    border: solid;
}

.leftMenuItem {
    background-color: #007681 !important; /* Green */
    color: #ffffff !important;
    text-align: left;
    text-decoration: none;
    display: normal;
    font-size: 13px !important;
    margin-bottom:2px;
}
    .leftMenuItem h4 {
        color: #ffffff !important;
        font-size: 13px !important;
    }
.leftMenuSubItem {
    color: #007681 !important;
    font-size: 12.5px !important;
} 
    a.classname:active {
        background-color: gray;
        color: gray;
    }


.dropdown-submenu > a:after {
    border-color: transparent transparent transparent #333 !important;
    border-style: solid !important;
    border-width: 5px 0 5px 5px !important;
    content: " " !important;
    display: block !important;
    float: right !important;
    height: 0 !important;
    margin-right: -10px !important;
    margin-top: 5px !important;
    width: 0 !important;
}

.dropdown-submenu > .dropdown-menu {
    max-width:260px !important;

}
a.NextBtn {
    background-color: #b22b2b;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: left;
    text-decoration: none;
    display: normal;
    font-size: 15px;
    border: solid;
    /*position: relative; 
    margin-bottom: 45%;
    margin-left: 95%;*/
}

.itemdetailws {
    border: solid dotted #C0C0C0;
    overflow-y: scroll;    
    width: 97%;
    height: 850px;
}


/*.container .cssState {
    float: left;
    display: block;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: black;
    border-bottom-width: 1px;
    border-bottom-color: grey;
    border-bottom-style: solid;
    width: 200px;
    border-right-style: solid;
    border-right-color: white;
    border-right-width: 10px;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}*/ 
