@model DOSBPM.Models.OccupancyHeightsandAreas

@{
    ViewBag.Title = "OccupancyHeightsandAreas";
}

<h2>Index</h2>

@Html.ActionLink("Previous", "Index", "ProjectDescription", null, new { @class = "NextBtn" })
@Html.ActionLink("Next", "Index", "VarianceQuestions", null, new { @class = "NextBtn" })

