@model DOSBPM.Models.SiteandUtilities

@{
    ViewBag.Title = "Site and Utilities";
}

<h2>Site and Utilities</h2>

@Html.ActionLink("Previous", "Index", "VarianceQuestions", null, new { @class = "NextBtn" })
@Html.ActionLink("Next", "Index", "MiscAdditionalInfo", null, new { @class = "NextBtn" })

