@model DOSBPM.Models.QualifyingInfoModel

@{
    ViewBag.Title = "View";
}

<h3>Qualifying Questions</h3>

<div class="col-md-12">
    <div>
        <h4>Please select your transaction Type* <br /></h4>      
        
    </div>

    <div>
        @Html.ActionLink("Next", "Index", "StakeholderContactInfo", null, new { @class = "NextBtn" })
    </div>
</div>




