@model DOSBPM.Models.TypeofConstruction

@{
    ViewBag.Title = "Type of Construction";
}

<h2>Type of Construction</h2>

@Html.ActionLink("Previous", "Index", "GeneralBuildingHeightsandAreas", null, new { @class = "NextBtn" })
@Html.ActionLink("Next", "Index", "FireandSmokeProtectionFeatures", null, new { @class = "NextBtn" })