@model DOSBPM.Models.TypeofConstruction

@{
    ViewBag.Title = "TypeofConstruction";
}

<h2>Index</h2>

@Html.ActionLink("Previous", "Index", "GeneralBuildingHeightsandAreas", null, new { @class = "NextBtn" })
@Html.ActionLink("Next", "Index", "FireandSmokeProtectionFeatures", null, new { @class = "NextBtn" })