@model DOSBPM.Models.GeneralBuildingHeightsandAreas

@{
    ViewBag.Title = "GeneralBuildingHeightsandAreas";
}

<h2>Index</h2>

@Html.ActionLink("Previous", "Index", "SpecialDetailedRequirementsBasedonUseandOccupancy", null, new { @class = "NextBtn" })
@Html.ActionLink("Next", "Index", "TypeofConstruction", null, new { @class = "NextBtn" })