@model DOSBPM.Models.GeneralBuildingHeightsandAreas

@{
    ViewBag.Title = "General Building Heights and Areas";
}

<h2>General Building Heights and Areas</h2>

@Html.ActionLink("Previous", "Index", "SpecialDetailedRequirementsBasedonUseandOccupancy", null, new { @class = "NextBtn" })
@Html.ActionLink("Next", "Index", "TypeofConstruction", null, new { @class = "NextBtn" })