@model DOSBPM.Models.SafeguardsDuringConstruction

@{
    ViewBag.Title = "Safeguards During Construction";
}

<h2>Safeguards During Construction</h2>

@Html.ActionLink("Previous", "Index", "ElevatorsandConveyingSystems", null, new { @class = "NextBtn" })
