@model DOSBPM.Models.SafeguardsDuringConstruction

@{
    ViewBag.Title = "SafeguardsDuringConstruction";
}

<h2>Index</h2>

@Html.ActionLink("Previous", "Index", "ElevatorsandConveyingSystems", null, new { @class = "NextBtn" })
