@model DOSBPM.Models.CodeComplianceChecklistPartII

@{
    ViewBag.Title = "Code Compliance Checklist PartII";
}

<h2>Code Compliance Checklist PartII</h2>

@Html.ActionLink("Previous", "Index", "MiscAdditionalInfo", null, new { @class = "NextBtn" })
@Html.ActionLink("Next", "Index", "Uploads", null, new { @class = "NextBtn" })

