@model DOSBPM.Models.CodeComplianceChecklistPartII

@{
    ViewBag.Title = "CodeComplianceChecklistPartII";
}

<h2>Index</h2>

@Html.ActionLink("Previous", "Index", "MiscAdditionalInfo", null, new { @class = "NextBtn" })
@Html.ActionLink("Next", "Index", "Uploads", null, new { @class = "NextBtn" })

