@model DOSBPM.Models.MiscAdditionalInfo

@{
    ViewBag.Title = "Misc Additional Info";
}

<h2>Misc Additional Info</h2>

@Html.ActionLink("Previous", "Index", "SiteandUtilities", null, new { @class = "NextBtn" })
@Html.ActionLink("Next", "Index", "CodeComplianceChecklistPartII", null, new { @class = "NextBtn" })
